@font-face {
    font-family: Roboto;
    src: url("/web/font/Roboto-Regular.ttf");
}
*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-style: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 18px;
}

body::-webkit-scrollbar { width: 0px; }
body, #top, #menu, #meam, #bot  { background-color: #1D2247; }
#mid { background-color: #DDD;  }

a { color: black; text-decoration: none; }
textarea { resize: vertical; }
input[type="text"], select, textarea {  border-bottom: 1px solid #AAA;  background-color: rgba(0,0,0,0); }
input[type="text"]:focus, input[type="checkbox"]:focus, select:focus, textarea:focus {   border-bottom: 1px solid rgba(32,124,229,1);   box-shadow: 0px 4px 2px -2px rgba(32,124,229,0.5); }

/*===================TOP===================*/
#top { width: 100%; height: 60px; position: fixed; top: 0; left: 0; z-index: 10; }
#top input { width: calc(100% - 135px); position: relative; left: 0px; padding: 20px 30px 5px 5px; font-size: 22px; margin-left: 5px; }
#top input { border-bottom: 1px solid #EEE; color: #FFF; }
#top input { background-image: url("/web/img/icon/lupa.png"); background-repeat: no-repeat;  background-position: right bottom; background-size: 30px 30px; }
#top input::placeholder { color: #FFF;  }

/*entidade ativa*/
#top ul #meam { position: fixed; left: 100%; top: 60px; width: 100%; height: calc(100% - 60px); overflow-y: auto; transition: .25s; z-index: 10; }
#top ul #meam li { padding: 15px 10px; border-radius: 30px;}
#top ul #meam li { color: #FFF; border-top: 5px solid #DDD; border-left: 5px solid #DDD; border-right: 5px solid #DDD; }
#top ul #meam a:last-child li { border-bottom: 5px solid #AAA;}
#top ul #meam .nome { text-align: center; font-size: 16px; padding: 5px; }
#top #meam a li img { width: 20px;  height: 20px;  margin: 0px 10px; }
#top #meam a li:hover { background-color: rgba(255,255,255, 0.3); }


/*===================MENU-MOBILE===================*/
.botaomenu { width: 60px; height: 60px; position: fixed; top: 0px; padding: 5px; z-index: 10; }
.botaomenu img {  width: 100%; height: 100%; }
#botaomenumobile {  right: 0px; }
#botaomenuentidade { right: 60px; }
.botaomenu:active {  background-color: rgba(255,255,255, 0.5); }
/*===================RESULTADO PESQUISA===================*/
#resultado-pesquisa-top { position: fixed; top: 60px; left: 0px; width: 100%; overflow-y: auto; max-height: calc(100vh - 110px); z-index: 10; }
#resultado-pesquisa-top a { display: block;  padding: 15px 10px; background-color: #FFF; color: #000; border-bottom: 1px solid #E7E7E7; }
#resultado-pesquisa-top a:hover { background-color: #DDD; }

/*===================MENU===================*/
#menu { position: fixed; top: 60px; left: -100%; width: 100%;  height: calc(100% - 60px);  overflow-y: auto; transition: .25s; z-index: 10; }
#menu ul a li { color: #FFF; border-top: 5px solid #DDD; border-left: 5px solid #DDD; border-right: 5px solid #DDD; }
#menu ul:last-child { border-bottom: 5px solid #AAA; }
#menu ul a li {  padding: 15px 10px; }
#menu a li img { width: 20px;  height: 20px;  margin: 0px 10px; }
#menu ul a li:hover {  background-color: rgba(255,255,255, 0.3); }

/*===================MID===================*/
#mid { width: 100%; min-height: calc(100vh - 126px);  padding: 60px 10px 10px 10px; }

/*===================BOTOES===================*/
#mid .botoes { width: 100%; text-align: center; }
#mid .botoes input { padding: 20px; width: 100%; cursor: pointer; margin-bottom: 10px; }
#mid .botoes input:hover {  opacity: 0.7; }

/*FLUTUANTE*/
#mid .botao-float { position: relative; overflow: hidden; right: 0px; bottom: 0px; }
#mid .botao-float a { position: relative; float: right; padding: 7px 12px; margin-right: 5px; }

/*CORES DE BOTOES*/
#mid .botao-confirma {  background-color: #16A085; color: #FFF; }
#mid .botao-cancela {  background-color: #B30802; color: #FFF; }
#mid .botao-neutro {  background-color: #199EC7; color: #FFF; }
#mid .botao-gritando {  background-color: #FD1254; color: #FFF; }
#mid .botao-entidade {  background-color: #E3000E; color: #FFF; }
#mid .botao-pessoajuridica {  background-color: #1C57E1; color: #FFF; }
#mid .botao-pessoafisica {  background-color: #27ae60; color: #FFF; }
#mid .botao-categoria {  background-color: #F04903; color: #FFF; }
#mid .botao-endereco {  background-color: #8F44AB; color: #FFF; }
#mid .botao-contabancaria {  background-color: #9C410A; color: #FFF; }
#mid .botao-contato {  background-color: #C2004E; color: #FFF; }

/*===================NOTIFICACOES===================*/
#mid .notificacoes {  max-width: 100%; color: #FFF; margin-bottom: 10px; }
#mid .notificacoes a {  color: #FFF; text-decoration: underline; }
#mid .notificacao-erro { background-color: #CF000F; }
#mid .notificacao-sucesso {  background-color: #16A086; text-align: center; }
#mid .notificacao-erro p, .notificacao-sucesso p { padding: 10px;}

/*===================BOT===================*/
#bot { width: 100%; text-align: center; }
#bot p {  color: #FFF;  line-height: 3; font-size: 12px; padding: 0px 10px; }
